.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.triggerActionContainer {
    width: 450px;
    margin: auto;
    background: #A9A9A9;
    box-shadow: 0 14px 80px rgba(34, 35, 58, 0.2);
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    transition: all .3s;
}

.cardTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: white;
    text-align: left;
}

.platform-button {
    font-size: 12px;
    position: relative;
    left: 20px;
    top: 1rem;
    margin-bottom: 1.5rem;
    color: #D3D3D3;
}


.button-choice .active {
    background: #A98EE7;
    border-radius: 20px;
    color: black;


}

.button-choice .not-active {
    background: #282828;
    border-radius: 20px;

}

.button-choice {
    background: transparent;
    color: white;
    border: none;
    font-size: 18px;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
    width: 100%;
}

.check-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.check-list .check-list-item {

    list-style-type: none;
    margin-bottom: 0.5rem;
    display: inline-flex;

}

.upper-container {
    display: flex;
    position: relative;
    background-color: #222222;
    padding: 3em;
    color: white;

}

.upper-container-text {
    width: 60%;
}

.create-automation-image {
    width: 300px;
}

.platform-col {
    background: #D3D3D3;
    border-radius: 30px;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
}

.platform-col-secondary{
    background: #4E4E4E;
    border-radius: 30px;
    margin: 1rem;
    padding: 1rem;
}
.next-text{
    color: gray;
    display: flex;
    flex-direction: row;
  justify-content: center;
}

.types-row{
    background-color: #222222;
    color: white;
}


.browse-button {
    background: #A98EE7;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    margin-top: 3rem;
    border-radius: 20px;
    padding: 5px 30px;
}