.scope-list-body {
    background-color: #222222;
    padding-bottom: 5em;
    color: white;
}

.platform-info {
    display: flex;
    flex-direction: column;
}

.scope-list-container {
    margin: 2rem;
}

.confirm-button {
    background: #A98EE7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    border-radius: 20px;

}

.scope-button {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: bottom;
    height: 50px;
    margin: 1rem;
    background-color: white;
    border-radius: 10px;
    color: #222222;
}